<form class="login-form">
  <!-- username -->
  <mat-form-field>
    <input matInput placeholder="Username">
  </mat-form-field>
  <!-- password -->
  <mat-form-field>
    <input matInput type="password" placeholder="Password">
  </mat-form-field>
  <!-- remember -->
  <div class="form-field">
    <mat-checkbox>Remember?</mat-checkbox>
  </div>
  <!-- login button -->
  <button mat-raised-button color="primary">Login</button>
  <!-- register button -->
  <button mat-raised-button color="primary">register</button>
</form>
